.select-search {
    margin: 8px 0px 0px 0px;
    min-width: 164px;
    min-height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    box-sizing: border-box;
    background: var(--main-grey-color);
    border-radius: var(--border-radius);
  }
  .select-search_status_open {
    border-radius: 8px 8px 0px 0px;
  }
  .select-search:hover {
    cursor: pointer;
  }
  .select-search__main {
    margin: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 8px 20px;
    box-sizing: border-box;
  }
  .select-search__text {
    margin: 0px 20px 0px 0px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.2px;
    color: var(--main-black-color);
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }
  .select-search__text_type_placeholder {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: var(--accent-grey-color);
  }
  .select-search__arrow {
    margin: 0px;
    width: 24px;
    height: 24px;
    background-image: url('../../images/arrow.svg');
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    transition: all .3s ease-in-out;
    flex-shrink: 0;
  }
  .select-search__arrow_status_open {
    transform: rotate(180deg);
  }
  .select-search__options-container {
    width: 100%;
    height: 0px;
    margin: 0px;
    background: var(--main-grey-color);
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    top: 40px;
    left: 0px;
    transition: height opacity .3s ease-in-out;
    z-index: 100;
    box-sizing: border-box;
    box-shadow: 0px 8px 12px -8px rgb(166 166 166 / 90%);
    display: none;
  }
  .select-search__options-container_status_open {
    height: auto;
    max-height: 100px;
    display: block;
    overflow-y: auto;
  }
  .select-search__options-list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow-y: auto;
    max-height: 100px;
  }
  .select-search__options-item {
    margin: 0px 20px;
    padding: 11px 0px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--slider-color);
  }
  .select-search__options-item:last-of-type {
    border-bottom: none;
  }
  .select-search__options-text {
    margin: 0px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: var(--main-black-color);
  }
  .select-search__options-item:hover .select-search__options-text {
    color: var(--accent-blue-color);
  }