.semester {
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-grow: 2;
  overflow-y: auto;
}
.semester__container {
  width: calc(100% - 12px);
  margin: 0px 12px 0px 0px;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.semester__column {
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.semester__header {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
}
.semester__header-title {
  width: max-content;
  margin: 0px;
  padding: 8px 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-black-color);
  background-color: var(--main-grey-color);
  box-sizing: border-box;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.semester__header-btn-container {
  margin: 0px 0px 0px auto;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  background-color: var(--main-grey-color);
  box-sizing: border-box;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.semester__column-main {
  width: auto;
  height: 360px;
  margin: 0px;
  padding: 16px 4px 16px 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  background-color: var(--main-grey-color);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  position: relative;
  overflow-y: scroll;
}
  
.semester__column-main_type_initial {
  border-top-right-radius: var(--border-radius);
}